.md-editor {
  --md-bk-color: var(--v-theme-background) !important;
  --md-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity)) !important;
  
  --md-theme-heading-color: var(--md-color) !important;
  font-family: var(--font-family) !important;
}

.vuepress-theme {
  --md-theme-color: var(--md-color) !important;
  --md-theme-heading-color: var(--md-color) !important;
}