$font-family: "Noto Sans TC", sans-serif !default;

@use "vuetify" with (
  $body-font-family: $font-family
);

// Overwrite default css styles of vuetify
html {
  overflow-y: auto;
}

.stroke-text {
  stroke: var(--v-theme-background);
}
